__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example
.env.example

*.sqlite3

.venv/
venv/
env/

.idea/
.vscode/

# Django static/media (keep if you use them; otherwise ignore)
staticfiles/
media/
